.profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  border-radius: 12px;
  width: 300px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}
.profile-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.profile-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 40px;
  border-radius: 50%;
  padding:10px;
  margin-left: 0px;
  background-color: #d1cfcf;
}

.profile-name {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.profile-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-menu-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #555;
  cursor: pointer;
  transition: background 0.3s;
}

.profile-menu-item:last-child {
  border-bottom: none;
}

.profile-menu-item:hover {
  background-color: #f9f9f9;
}
